.body{
    height:0px;
    width:0px;
    margin:0%;
}

.heading-container{

    height:50px;
    width:400px;
    margin-top: 5px;
    border-radius:10px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center ;
    background-color:crimson;

}

.film-icon{
    height:30px;
    width:30px;
   
}

.movies-container{
    height: 400px;
    width: 100%;
   
    background-color:rgb(212, 170, 222);
    padding: 100px 0%;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: start;
    flex-wrap:wrap;
    
}

.movies-card{
        background-color:aqua;
        height:450px;
        width:280px;
        border-radius:10px;
         }
.sitaramam-image{
    border:1px solid gray;
    width:250px;
    margin:10px;


}
.movie-card-1{
    background-color:aqua;
        height:450px;
        width:280px;
        border-radius:10px;
        justify-content: row;        
    }
    .lapata-ladies-image{
        border:1px solid gray;
    width:250px;
    margin:10px;
    }
    .movie-card-2{
    background-color:aqua;
        height:450px;
        width:280px;
        border-radius:10px;
        justify-content:center;
        
    }
    .Hi-Nanna-movie-image{
        border:1px solid gray;
    width:250px;
    margin:10px;
    }
    .btn{
        border-radius:15px;
        background-color:blueviolet;
        padding:5px;
        margin:8px;}
        

        
        .movie-info{
        padding:5px 10px;
        }