.places-container{
    width:100%;
    height:500px;
   
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;

  }

  .places-card{

      width:400px;
      height:170px;
      padding:10px;
      background-color: rgb(233, 240, 240);
      border-radius:10px;


  }
  .card-info{
      display:flex;
      flex-direction: row;
      align-items:center;
     
  }



  .img{
      height:40px;
      width:40px;
      border-radius:3px;
      margin-right:8px;
      box-shadow: 0 0 1px whitesmoke;

  }
  .small-devices{
      display:block;
  }
  
  @media screen and (max-width:400px){

  
  
    .places-container{
           display: flex;
           flex-direction:start;
           flex-wrap: wrap;
       }
 
       .places-card{
          
           margin-right:20px;
           margin-top:20px;
          
           
       }
       .small-devices{
           display: none;
       }
   
   
   }
 
 
   @media screen and (max-width:600px){
 
       .places-container{
           display: flex;
           flex-direction:start;
           flex-wrap: wrap;
       }
 
       .places-card{
          
           margin-right:20px;
           margin-top:20px;
          
           
       }
 
       
   }
 
 
   @media screen and (min-width:601px) and (max-width:900px){
     
    .places-container{
      width:100vw;
       margin:20px;
       flex-wrap: wrap;
    }
    .places-card{
      width:100vw;
       gap:10px;
    }
 
 
 
  }
 
 
  
  @media screen and (min-width:901px) and (max-width:1270px){
   .places-container{
       display:flex;
       justify-content: flex-start;
       flex-direction: start;
       flex-wrap: wrap;
       
   }
   .places-card{
       margin-left:10px;
   }
   
 
 
  } 

