.receipt-container{
           
    width:80%;
    border:1px solid grey;
    margin:0 auto;
    padding:10px;
    background-color: white;
    box-shadow:0 0 10px grey;
}
.receipt-header{
    border-bottom:1px dashed grey;
}
.brand-logo{
    width:150px;
    display: block;
    margin:0 auto;

    
}
.brand-name{
    text-align:center;
    font-size:30px;
}
.brand-address{
    text-align:end;

}
.brand-mobile-no{
    text-align:end;
}

.receipt-body{
    border-bottom:1px dashed grey;

}
.receipt-title{
    text-align:center;
    margin:40px 0;
    font-size:30px;
}
.receipt-detail{
    display:flex;
    justify-content: center;
    margin:20px 0;
    font-size:20px;
}
.receipt-detail-key{
    font-weight: bold;
    width:20%;

}
.receipt-detail-value{
    border-bottom:1px dashed grey;
    color:grey;
    width:30%;


}
.cash-btn{
    border-radius: 5px;
    border:1px solid grey;
    background-color:#f28701;
    padding:8px auto;
    width:80px;
    height:30px;
}
.receipt-product-info{
    border-bottom:1px dashed grey;

}

.product-title{
margin-top:50px;
margin-left:200px;

}
.product-container{
    width:60%;
    height:150px;
    margin: 0 200px;
    margin-bottom:20px;

   
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.btn{
   
   visibility:hidden;
}
.product-detail{
    width:120px;
    border-radius: 3px;
    background-color:skyblue;
    text-align: center;
    margin:3px 0;
    margin-left: 0;
    padding:5px 2px;
    background-color:snow;

  }
  .product-heading{
    font-weight:bold; 
    background-color: lightskyblue;

  }
  
    .total-amount-btn{

        width:150px;
        margin-right:10%;
        margin-left: 80%;
        background-color: #f28701;
        border-radius: 5px;
        padding:10px 2px;
        font-weight: bold;
        margin-bottom:20px;
    }