.heading{
    font-size:25px;
    background-color: black;
    color:white;
    height:100px;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content: center;
}

.room-container{
    margin:0px;
    padding:0px;
    height:400px;
    width: 100%;
   background-color:#f4f5f7;
   padding: 50px 0%;
   border-radius: 5px;
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
   align-items:center;
   flex-wrap:wrap;
   
 
}

.room-card{

 background-color:white;
 height:400px;
 width:330px;
 border-radius:10px;
 padding:5px;
 padding-left:12px;
 padding-top:10px;
 margin-left:5px;
  }

  @media screen and (max-width:600px){
    
    .sidebar{
        display: none;

    }
    .bottom-nav-bar{
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        
    }
    .room-card{
        margin-top:10px;
    }

        
        
  }


  @media screen and (min-width:601px) and (max-width:900px){

    .room-container{
        display:flex;
        justify-content: flex-start;
        justify-content: row;
        flex-wrap: wrap;

    }


    
  
  }
 
 @media screen and (min-width:901px) and (max-width:1270px){
 
    .room-container{
        display:flex;
        justify-content: flex-start;
        justify-content: row;
        flex-wrap: wrap;
     

    }
      .room-card{
        margin-left:20px;
      }
 }
